/* Mixins */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }

/* OVERRIDE BOOTSTRAP DEFAULT STYLES */
/* line 11, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
.btn-success {
  background-image: none;
  background-color: #2c3e50;
  border: none;
  padding: 10px 15px; }
  /* line 16, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  .btn-success:hover {
    background-color: #405267; }
  /* line 19, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  .btn-success:active:focus {
    background-color: #405267; }
  /* line 22, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  .btn-success:focus {
    background-color: #405267; }
  /* line 25, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  .btn-success:active {
    background-color: #405267; }
  /* line 28, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  .btn-success:visited {
    background-color: #405267; }

/* HEADER STYLES */
/* line 38, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
header {
  background-color: #2c3e50; }
  /* line 40, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  header .container {
    min-height: 120px; }
  /* line 43, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  header #logo-image {
    height: 100px;
    width: auto;
    margin-top: 10px;
    -webkit-transition: 300ms, ease, all;
    -moz-transition: 300ms, ease, all;
    -ms-transition: 300ms, ease, all;
    -o-transition: 300ms, ease, all;
    transition: 300ms, ease, all; }
    /* line 48, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
    header #logo-image:hover {
      -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
      -moz-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
      -ms-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
      -o-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.6)); }
  /* line 52, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  header p {
    line-height: 120px;
    font-size: 2em;
    text-align: center;
    color: #ecf0f1; }
  /* line 59, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  header nav ul {
    margin-top: 45px; }
    /* line 61, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
    header nav ul li {
      display: inline-block;
      font-size: 1.5em;
      min-width: 100px;
      text-align: center; }
      /* line 66, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
      header nav ul li a {
        color: #ecf0f1;
        transition: all 300ms ease; }
        /* line 69, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
        header nav ul li a:hover {
          font-weight: bold;
          color: #ecf0f1;
          text-decoration: none; }

/* JUMBOTRON STYLE */
/* line 81, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
#main-jt {
  min-height: 400px;
  height: 80vh;
  background-image: url(../img/jt-background);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  /* line 88, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  #main-jt h1 {
    text-align: center;
    margin-top: 100px; }
  /* line 92, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  #main-jt button {
    display: block;
    margin: 50px auto 0; }
  /* line 96, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  #main-jt span {
    font-size: 3em;
    color: #2c3e50;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 15%;
    animation: bounce 2s infinite; }
    /* line 105, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
    #main-jt span:hover {
      cursor: pointer; }

/* line 111, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
.jt-lvl2 {
  height: 30vh; }
  /* line 113, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
  .jt-lvl2 h2 {
    text-align: center;
    font-size: 3.5em;
    color: #ecf0f1;
    -webkit-text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -ms-text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -o-text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-top: 30px; }

/* line 122, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
#jt-2 {
  background-image: url(../img/jt-2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* SECTION STYLES */
/* line 130, /Applications/MAMP/htdocs/portfolio/CSS/main.scss */
section {
  padding-bottom: 50px; }

/*# sourceMappingURL=main.css.map */